@font-face {
    font-family: OpenSans;
    src: url(../font/OpenSans.ttf),
        url(../font/OpenSans-Italic.ttf);
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url(../font/OpenSans.ttf),
        url(../font/OpenSans-Italic.ttf);
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url(../font/OpenSans.ttf),
        url(../font/OpenSans-Italic.ttf);
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: BebasNeue;
    src: url(../font/BebasNeueBold.ttf),
        url(../font/BebasNeueBold.ttf2);
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

:root {
    --dark-title-color: #48555B;
    --dark-text-color: #48555B;
    --light-btn-color: #fff;
    --background-btn-color: #00A4E5;
    --btn-color: #FFF;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.page,
.page__body {
    width: 100%;
    height: 100%;
}

.page__body {
    margin: 0;
    font-family: OpenSans;
}

.list-reset {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #706f6f;
}

.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    margin: 0;
    color: var(--dark-title-color);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.306px;
}

.text {
    margin: 0;
    color: var(--dark-text-color);
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.188px;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.link {
    transition: all 0.3s ease 0s;
    color: #48555B;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.091px;
    text-decoration: none;
}


.logo__icon {
    fill: #000;
    width: 100px;
    height: 25px;
}


.btn {
    padding: 0;
    background: var(--background-btn-color);
    color: var(--btn-color);
    border: none;
    font-family: OpenSans;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.5px;
    transition: transform 0.3s ease-in 0s;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.9);
}

.socials {
    display: flex;
    gap: 25px;
}

.socials__icon {
    stroke: #fff;
    fill: #fff;
    width: 20px;
    height: 20px;
    transition: 0.3s ease 0s;
}

@media (pointer:fine) and (hover: hover) {
    .socials__icon_fb:hover {
        fill: #0000ff;
        stroke: #0000ff;
    }
}

@media (pointer:fine) and (hover: hover) {
    .socials__icon_twitter:hover {
        fill: #00A4E5;
        stroke: #00A4E5;
    }
}

@media (pointer:fine) and (hover: hover) {
    .socials__icon_google:hover {
        fill: #ff0000;
        stroke: #ff0000;
    }
}

.header {
    width: 100%;
    height: 100%;
}

.header-box-bg {
    padding: 0 15px;
    height: 100%;
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url("../imgs/bg.png") center / cover no-repeat;
}

.header-container {
    height: 100%;
}

.logo__icon {
    fill: #000;
    width: 100px;
    height: 25px;
}

.logo__icon_header {
    fill: #fff;
}

.header__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tittle {
    margin: 0;
    color: var(--dark-title-color);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.306px;
}

.header__tittle {
    color: #FFF;
    font-family: "BebasNeue";
    font-weight: 400;
    letter-spacing: 6px;
    font-size: calc(30px + (60 - 30) * ((100vw - 320px) / (1440 - 320)));
}

.text {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.188px;

}

.header__text {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    vertical-align: inherit;

}

.header__subtitle {
    margin-bottom: 70px;
    color: #FFF;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 3.7px;

}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
}

.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

.nav{
position: fixed;
left: 0;
top: -100%;
bottom: 100;
z-index: 100;
display: flex;
justify-content: space-between;
width: 100%;
background-color: #fff;
overflow: 50px;
padding: 50px;
transition: top 0.3s ease 0s, bottom 0.3s ease 0s;
}

@media(min-width:1200px) {
    .nav {
        position: static;
        padding: 0;
        width:auto;
    }
}

@media(min-width:576px){
    .nav{
        width: 50%;
    }
}
.nav__list {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


@media(min-width:1200px){
    .nav__list{
        flex-direction: row;
    }
}


